@font-face {
  font-family: 'oswald-bold';
    src: url('../fonts/oswald-bold.woff') format('woff2'),
         url('../fonts/oswald-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'oswald-regular';
    src: url('../fonts/oswald-regular.woff2') format('woff2'),
         url('../fonts/oswald-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'oswald-light';
    src: url('../fonts/oswald-light.woff2') format('woff2'),
         url('../fonts/oswald-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
